body {
    background: cornflowerblue url('ships.png') repeat;
    background-size: contain;
}

h1 {
    font-family: "Bauhaus 93", sans-serif;
    font-size: 4em;
    color: navy;
    text-shadow: 1px 1px 5px white, 1px 1px 5px white, 1px -1px 5px white;
    text-align: center;
    margin-bottom: 5px;
}

div h1 {
    font-family: "Bauhaus 93", sans-serif;
    font-size: x-large;
    color: white;
    text-shadow: none;
    text-align: center;
}

div {
    font-family: "Century Gothic", sans-serif;
    font-size: medium;
    color: white;
    height: 402px;
    width: 402px;
    background: navy;
    position: relative;
    margin: auto;
}

.square {
    height: 51px;
    width: 51px;
    position: absolute;
}

img {
    display: none;
}

#buttons {
    margin: auto;
    background: cornflowerblue;
    height: min-content;
    width: fit-content;
    text-align: center;
}

button {
    font-family: "Century Gothic", sans-serif;
    font-size: medium;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

header {
    font: bold large "Century Gothic", sans-serif;
    color: white;
    height: min-content;
    text-align: center;
    margin-bottom: 2px;
}

h3 {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

#alerts {
    height: min-content;
    background: navy;
    margin: auto;
}

#status {
    height: min-content;
    width: fit-content;
    padding: 10px;
    text-align: center;
}

#win {
    height: min-content;
    width: fit-content;
    padding: 10px;
    text-align: center;
}

#howTo {
    height: min-content;
    width: fit-content;
    padding: 10px;
}

#levelSelect {
    height: min-content;
    width: fit-content;
    padding: 10px;
    text-align: center;
}